In [1]:
# importing necessary packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from pprint import pprint

In [11]:
students_data = {
    'StudentID': list(range(1, 53)),
    'StudentName': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Henry', 'Isabel', 'Jack', 
                    'Kelly', 'Liam', 'Mia', 'Noah', 'Olivia', 'Peter', 'Quinn', 'Rose', 'Sam', 'Tina', 
                    'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane', 'Ava', 'Ben', 'Clara', 'Dan', 
                    'Ella', 'Finn', 'Gina', 'Hank', 'Ivy', 'Jonah', 'Kara', 'Leo', 'Mila', 'Nate', 
                    'Omar', 'Pia', 'Raul', 'Sara', 'Tom', 'Uma', 'Vera', 'Will', 'Xena', 'Yuri', 'Zoe', 'Adam'],
    'Age': [20, 21, 19, 22, 23, 20, 21, 19, 22, 20, 24, 18, 19, 22, 20, 21, 23, 20, 19, 22, 
            21, 20, 24, 18, 19, 22, 20, 21, 23, 20, 19, 22, 21, 20, 24, 18, 19, 22, 20, 21, 
            23, 20, 19, 22, 21, 20, 24, 18, 19, 22, 20, 21],
    'Email': [f'{name.lower()}@school.com' if name != 'Uma' else f'{name.lower()}{i}@school.com' 
              for i, name in enumerate(['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Henry', 'Isabel', 'Jack', 
                                        'Kelly', 'Liam', 'Mia', 'Noah', 'Olivia', 'Peter', 'Quinn', 'Rose', 'Sam', 'Tina', 
                                        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane', 'Ava', 'Ben', 'Clara', 'Dan', 
                                        'Ella', 'Finn', 'Gina', 'Hank', 'Ivy', 'Jonah', 'Kara', 'Leo', 'Mila', 'Nate', 
                                        'Omar', 'Pia', 'Raul', 'Sara', 'Tom', 'Uma', 'Vera', 'Will', 'Xena', 'Yuri', 'Zoe', 'Adam'], 1)],
    'EnrollmentDate': ['2023-09-01', '2023-09-01', '2024-01-15', '2022-09-01', '2023-01-10', '2024-02-01', '2023-09-15', '2024-03-01', '2023-08-20', '2024-01-10',
                       '2022-08-15', '2024-09-01', '2023-09-10', '2022-10-01', '2024-02-15', '2023-08-25', '2023-01-20', '2024-03-10', '2023-09-05', '2022-11-01',
                       '2024-01-25', '2023-08-15', '2022-09-20', '2024-09-05', '2023-10-01', '2022-12-01', '2024-02-20', '2023-09-25', '2023-02-01', '2024-03-15',
                       '2023-10-10', '2022-11-15', '2024-02-01', '2023-08-30', '2022-10-05', '2024-09-10', '2023-11-01', '2022-12-15', '2024-03-01', '2023-09-30',
                       '2023-02-15', '2024-03-20', '2023-11-10', '2022-12-20', '2024-02-10', '2023-09-15', '2022-10-15', '2024-09-15', '2023-11-20', '2022-12-25',
                       '2024-03-05', '2023-10-05'],
    'Major': ['Computer Science', 'Biology', 'History', 'Art', 'Mathematics', 'Physics', 'Chemistry', 'English', 'Psychology', 'Economics',
              'Sociology', 'Undecided', 'Computer Science', 'Biology', 'History', 'Art', 'Mathematics', 'Physics', 'Chemistry', 'English',
              'Psychology', 'Economics', 'Sociology', 'Undecided', 'Computer Science', 'Biology', 'History', 'Art', 'Mathematics', 'Physics',
              'Chemistry', 'English', 'Psychology', 'Economics', 'Sociology', 'Undecided', 'Computer Science', 'Biology', 'History', 'Art',
              'Mathematics', 'Physics', 'Chemistry', 'English', 'Psychology', 'Economics', 'Sociology', 'Undecided', 'Computer Science', 'Biology',
              'History', 'Art']
}
students_df = pd.DataFrame(students_data)
students_df.to_csv('../data/students.csv')
# 2. Instructors DataFrame (10 rows)
instructors_data = {
    'InstructorID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'InstructorName': ['Dr. Smith', 'Prof. Jones', 'Dr. Lee', 'Ms. Taylor', 'Dr. Brown', 'Prof. Adams', 'Ms. Carter', 'Mr. Wilson', 'Dr. Evans', 'Prof. Patel'],
    'Email': ['smith@school.com', 'jones@school.com', 'lee@school.com', 'taylor@school.com', 'brown@school.com', 
              'adams@school.com', 'carter@school.com', 'wilson@school.com', 'evans@school.com', 'patel@school.com'],
    'Department': ['Mathematics', 'Science', 'History', 'Fine Arts', 'Physics', 'Science', 'English', 'Computer Science', 'Psychology', 'Economics'],
    'HireDate': ['2018-06-01', '2019-08-15', '2020-01-10', '2021-03-20', '2017-09-01', '2018-11-05', '2022-02-15', '2020-07-01', '2019-04-10', '2021-09-01']
}
instructors_df = pd.DataFrame(instructors_data)
instructors_df.to_csv('../data/instructors.csv')
# 3. Courses DataFrame (12 rows)
courses_data = {
    'CourseID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112],
    'CourseName': ['Math', 'Science', 'History', 'Art', 'Physics', 'Chemistry', 'English Lit', 'Programming', 'Psychology', 'Economics', 'Sociology', 'Statistics'],
    'Credits': [3, 4, 3, 2, 4, 3, 3, 4, 3, 3, 3, 4],
    'InstructorID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, None, None],
    'StartDate': ['2025-01-10', '2025-01-10', '2025-01-15', '2025-02-01', '2025-01-20', '2025-01-20', '2025-02-10', '2025-02-15', '2025-01-25', '2025-02-05', '2025-03-01', '2025-03-10'],
    'Department': ['Mathematics', 'Science', 'History', 'Fine Arts', 'Physics', 'Science', 'English', 'Computer Science', 'Psychology', 'Economics', 'Sociology', 'Mathematics']
}
courses_df = pd.DataFrame(courses_data)
courses_df.to_csv('../data/courses.csv')
# 4. Enrollments DataFrame (60 rows)
enrollments_data = {
    'EnrollmentID': list(range(1, 61)),
    'StudentID': [1, 1, 2, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8, 9, 9, 10, 10, 11, 11, 3,
                  13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29,
                  30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
                  47, 49, 50, 51, 52, 13, 25, 37],
    'CourseID': [101, 108, 102, 105, 103, 104, 101, 106, 105, 102, 106, 102, 107, 109, 107, 110, 101, 111, 109, 107,
                 108, 102, 103, 104, 101, 105, 106, 107, 109, 110, 111, 108, 102, 103, 104, 101, 105, 106, 107, 109,
                 110, 111, 108, 102, 103, 104, 101, 105, 106, 107, 109, 110, 111, 108, 102, 103, 104, 101, 101, 101]
}
enrollments_df = pd.DataFrame(enrollments_data)
enrollments_df.to_csv('../data/enrollments.csv')
# 5. Grades DataFrame (60 rows)
grades_data = {
    'GradeID': list(range(1, 61)),
    'EnrollmentID': list(range(1, 61)),
    'Grade': ['A', 'A+', 'B+', 'B', 'A-', None, 'B', 'C+', 'A', 'B+', 'B-', None, None, 'A', 'B+', 'B', 'C', 'A-', 'B', None,
              'A', 'B+', 'A-', None, 'B', 'A', 'C+', None, 'A', 'B', 'A-', 'A+', 'B+', 'A-', None, 'B', 'A', 'C+', None, 'A',
              'B', 'A-', 'A+', 'B+', 'A-', None, 'B', 'A', 'C+', None, 'A', 'B', 'A-', 'A+', 'B+', 'A-', None, 'B', 'A', 'C+'],
    'GradeDate': ['2025-03-15', '2025-04-01', '2025-03-20', '2025-03-25', '2025-03-18', None, '2025-03-15', '2025-03-22', '2025-03-25', '2025-03-20',
                  '2025-03-22', None, None, '2025-03-28', '2025-04-05', '2025-04-10', '2025-03-15', '2025-04-15', '2025-03-28', None,
                  '2025-04-01', '2025-03-20', '2025-03-18', None, '2025-03-15', '2025-03-25', '2025-03-22', None, '2025-03-28', '2025-04-10',
                  '2025-04-15', '2025-04-01', '2025-03-20', '2025-03-18', None, '2025-03-15', '2025-03-25', '2025-03-22', None, '2025-03-28',
                  '2025-04-10', '2025-04-15', '2025-04-01', '2025-03-20', '2025-03-18', None, '2025-03-15', '2025-03-25', '2025-03-22', None,
                  '2025-03-28', '2025-04-10', '2025-04-15', '2025-04-01', '2025-03-20', '2025-03-18', None, '2025-03-15', '2025-03-25', '2025-03-22']
}
grades_df = pd.DataFrame(grades_data)
grades_df.to_csv('../data/grades.csv')