In [26]:
import mysql.connector as connection
import pandas as pd
def connect_db ():
    try:
        mydb = connection.connect(host="localhost", database = 'school', user="root", passwd="root", use_pure=True)
        query = "Select * from students"
        students_df = pd.read_sql(query, mydb)
        #mydb.close() #close the connection
    except Exception as e:
        # mydb.close()
        print(str(e))

In [27]:
from sqlalchemy import create_engine
# Replace with your actual credentials
engine = create_engine('mysql+pymysql://root:root@localhost/school')

In [30]:
students = pd.read_sql("SELECT * FROM Students", engine)
courses = pd.read_sql("SELECT * FROM Courses", engine)
instructors = pd.read_sql("SELECT * FROM instructors", engine)
enrollements = pd.read_sql("SELECT * FROM enrollments", engine)
grades = pd.read_sql("SELECT * FROM grades", engine)

In [31]:
students

,StudentID,StudentName,Age,Email,EnrollmentDate,Major
0,1,Alice,20,alice@school.com,2023-09-01,Computer Science
1,2,Bob,21,bob@school.com,2023-09-01,Biology
2,3,Charlie,19,charlie@school.com,2024-01-15,History
3,4,Diana,22,diana@school.com,2022-09-01,Art
4,5,Eve,23,eve@school.com,2023-01-10,Mathematics
5,6,Frank,20,frank@school.com,2024-02-01,Physics
6,7,Grace,21,grace@school.com,2023-09-15,Chemistry
7,8,Henry,19,henry@school.com,2024-03-01,English
8,9,Isabel,22,isabel@school.com,2023-08-20,Psychology
9,10,Jack,20,jack@school.com,2024-01-10,Economics
10,11,Kelly,24,kelly@school.com,2022-08-15,Sociology
11,12,Liam,18,liam@school.com,2024-09-01,Undecided
12,13,Mia,19,mia@school.com,2023-09-10,Computer Science
13,14,Noah,22,noah@school.com,2022-10-01,Biology
14,15,Olivia,20,olivia@school.com,2024-02-15,History
15,16,Peter,21,peter@school.com,2023-08-25,Art
16,17,Quinn,23,quinn@school.com,2023-01-20,Mathematics
17,18,Rose,20,rose@school.com,2024-03-10,Physics
18,19,Sam,19,sam@school.com,2023-09-05,Chemistry
19,20,Tina,22,tina@school.com,2022-11-01,English
20,21,Uma,21,uma@school.com,2024-01-25,Psychology
21,22,Victor,20,victor@school.com,2023-08-15,Economics
22,23,Wendy,24,wendy@school.com,2022-09-20,Sociology
23,24,Xander,18,xander@school.com,2024-09-05,Undecided
24,25,Yara,19,yara@school.com,2023-10-01,Computer Science
25,26,Zane,22,zane@school.com,2022-12-01,Biology
26,27,Ava,20,ava@school.com,2024-02-20,History
27,28,Ben,21,ben@school.com,2023-09-25,Art
28,29,Clara,23,clara@school.com,2023-02-01,Mathematics
29,30,Dan,20,dan@school.com,2024-03-15,Physics
30,31,Ella,19,ella@school.com,2023-10-10,Chemistry
31,32,Finn,22,finn@school.com,2022-11-15,English
32,33,Gina,21,gina@school.com,2024-02-01,Psychology
33,34,Hank,20,hank@school.com,2023-08-30,Economics
34,35,Ivy,24,ivy@school.com,2022-10-05,Sociology
35,36,Jonah,18,jonah@school.com,2024-09-10,Undecided
36,37,Kara,19,kara@school.com,2023-11-01,Computer Science
37,38,Leo,22,leo@school.com,2022-12-15,Biology
38,39,Mila,20,mila@school.com,2024-03-01,History
39,40,Nate,21,nate@school.com,2023-09-30,Art
40,41,Omar,23,omar@school.com,2023-02-15,Mathematics
41,42,Pia,20,pia@school.com,2024-03-20,Physics
42,43,Raul,19,raul@school.com,2023-11-10,Chemistry
43,44,Sara,22,sara@school.com,2022-12-20,English
44,45,Tom,21,tom@school.com,2024-02-10,Psychology
45,46,Uma,20,uma2@school.com,2023-09-15,Economics
46,47,Vera,24,vera@school.com,2022-10-15,Sociology
47,48,Will,18,will@school.com,2024-09-15,Undecided
48,49,Xena,19,xena@school.com,2023-11-20,Computer Science
49,50,Yuri,22,yuri@school.com,2022-12-25,Biology
50,51,Zoe,20,zoe@school.com,2024-03-05,History
51,52,Adam,21,adam@school.com,2023-10-05,Art

In [32]:
courses

    CourseID   CourseName  Credits  InstructorID   StartDate        Department
0        101         Math        3           1.0  2025-01-10       Mathematics
1        102      Science        4           2.0  2025-01-10           Science
2        103      History        3           3.0  2025-01-15           History
3        104          Art        2           4.0  2025-02-01         Fine Arts
4        105      Physics        4           5.0  2025-01-20           Physics
5        106    Chemistry        3           6.0  2025-01-20           Science
6        107  English Lit        3           7.0  2025-02-10           English
7        108  Programming        4           8.0  2025-02-15  Computer Science
8        109   Psychology        3           9.0  2025-01-25        Psychology
9        110    Economics        3          10.0  2025-02-05         Economics
10       111    Sociology        3           NaN  2025-03-01         Sociology
11       112   Statistics        4           NaN  2025-03-10       Mathematics

In [33]:
enrollements

    EnrollmentID  StudentID  CourseID
0              1          1       101
1              2          1       108
2              3          2       102
3              4          2       105
4              5          3       103
5              6          4       104
6              7          5       101
7              8          5       106
8              9          6       105
9             10          6       102
10            11          7       106
11            12          7       102
12            13          8       107
13            14          9       109
14            15          9       107
15            16         10       110
16            17         10       101
17            18         11       111
18            19         11       109
19            20          3       107
20            21         13       108
21            22         14       102
22            23         15       103
23            24         16       104
24            25         17       101
25            26         18       105
26            27         19       106
27            28         20       107
28            29         21       109
29            30         22       110
30            31         23       111
31            32         25       108
32            33         26       102
33            34         27       103
34            35         28       104
35            36         29       101
36            37         30       105
37            38         31       106
38            39         32       107
39            40         33       109
40            41         34       110
41            42         35       111
42            43         37       108
43            44         38       102
44            45         39       103
45            46         40       104
46            47         41       101
47            48         42       105
48            49         43       106
49            50         44       107
50            51         45       109
51            52         46       110
52            53         47       111
53            54         49       108
54            55         50       102
55            56         51       103
56            57         52       104
57            58         13       101
58            59         25       101
59            60         37       101

In [34]:
grades

    GradeID  EnrollmentID Grade   GradeDate
0         1             1     A  2025-03-15
1         2             2    A+  2025-04-01
2         3             3    B+  2025-03-20
3         4             4     B  2025-03-25
4         5             5    A-  2025-03-18
5         6             6  None        None
6         7             7     B  2025-03-15
7         8             8    C+  2025-03-22
8         9             9     A  2025-03-25
9        10            10    B+  2025-03-20
10       11            11    B-  2025-03-22
11       12            12  None        None
12       13            13  None        None
13       14            14     A  2025-03-28
14       15            15    B+  2025-04-05
15       16            16     B  2025-04-10
16       17            17     C  2025-03-15
17       18            18    A-  2025-04-15
18       19            19     B  2025-03-28
19       20            20  None        None
20       21            21     A  2025-04-01
21       22            22    B+  2025-03-20
22       23            23    A-  2025-03-18
23       24            24  None        None
24       25            25     B  2025-03-15
25       26            26     A  2025-03-25
26       27            27    C+  2025-03-22
27       28            28  None        None
28       29            29     A  2025-03-28
29       30            30     B  2025-04-10
30       31            31    A-  2025-04-15
31       32            32    A+  2025-04-01
32       33            33    B+  2025-03-20
33       34            34    A-  2025-03-18
34       35            35  None        None
35       36            36     B  2025-03-15
36       37            37     A  2025-03-25
37       38            38    C+  2025-03-22
38       39            39  None        None
39       40            40     A  2025-03-28
40       41            41     B  2025-04-10
41       42            42    A-  2025-04-15
42       43            43    A+  2025-04-01
43       44            44    B+  2025-03-20
44       45            45    A-  2025-03-18
45       46            46  None        None
46       47            47     B  2025-03-15
47       48            48     A  2025-03-25
48       49            49    C+  2025-03-22
49       50            50  None        None
50       51            51     A  2025-03-28
51       52            52     B  2025-04-10
52       53            53    A-  2025-04-15
53       54            54    A+  2025-04-01
54       55            55    B+  2025-03-20
55       56            56    A-  2025-03-18
56       57            57  None        None
57       58            58     B  2025-03-15
58       59            59     A  2025-03-25
59       60            60    C+  2025-03-22

In [35]:
instructors

,InstructorID,InstructorName,Email,Department,HireDate
0,1,Dr. Smith,smith@school.com,Mathematics,2018-06-01
1,2,Prof. Jones,jones@school.com,Science,2019-08-15
2,3,Dr. Lee,lee@school.com,History,2020-01-10
3,4,Ms. Taylor,taylor@school.com,Fine Arts,2021-03-20
4,5,Dr. Brown,brown@school.com,Physics,2017-09-01
5,6,Prof. Adams,adams@school.com,Science,2018-11-05
6,7,Ms. Carter,carter@school.com,English,2022-02-15
7,8,Mr. Wilson,wilson@school.com,Computer Science,2020-07-01
8,9,Dr. Evans,evans@school.com,Psychology,2019-04-10
9,10,Prof. Patel,patel@school.com,Economics,2021-09-01